.content-area{
    padding:5px;
    height: 1610px;
}
.content-area .dynamic-condition{
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
}
.title-nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f2fafc;
    font-size: 16px;
    color: #898989;
}
.title-nav ul,.title-nav button,.title-nav span{
    float: left;
}
.title-nav .all-text{
    width:80% ;
}
.title-nav .all-text li{
    float: left;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title-nav .all-text .current{
    border-bottom: 2px solid #69c2ec;
}
.title-nav .all-text li:hover{
    border-bottom: 2px solid #69c2ec;
}
.title-nav button{
    width: 18.8%;
    float: right;
    background-color: #fe8f3d;
    border-radius: 10px;
    list-style: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 12px;
    top: 11px;
    left: -2px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    text-align: center;
}
.title-nav button i{
    display: inline-block;
    width: 22%;
    height: 12px;
    background: url("../images/buzhizuoye.png") no-repeat left center;
    vertical-align:middle;
}
.title-nav .inform{
    background-color: #69c2ec;
    margin-left: 2%;
}
.title-nav .inform i{
    background-image: url("../images/buzhizuoye.png");
}
.title-nav .new{
    display: inline-block;
    width: 20px;
    margin-left: -30px;
    margin-bottom: 10px;
    height: 18px;
    background-size: contain;
    background: url("../images/new.png") no-repeat ;
    cursor: pointer;
}

.title-nav .new:hover{
    background: url("../images/new-hover.png") no-repeat left center;
}
.message{
    width: 100%;
    padding: 0 2.8% 20px;
}
.message .teacher{
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    color: #acacac;
    margin:5px;
}
.teacher .yu{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color: #fff;
    background: #ff8178;
    line-height: 44px;
    text-align: center;
    font-size: 22px;
    margin-top: 2%;
    float: left;
}
.teacher .jiang{
    margin-left: 4%;
    margin-top: -4%;
    float: left;
    /* width: 42%; */
    height: 43%;
}
.teacher .date{
    float: left;
    margin-left: 4%;
    margin-top: -2%;
}
.message .work-in{
    background: #f9f8f9;
    width: 100%;
    border-top: 1px solid #e3e3e3;
}
.work-in .work-content{
    border-bottom: 1px solid #e3e3e3;
    line-height: 70px;
    margin:0;
}
.work-in .classify{
    display: inline-block;
    font-size: 16px;
    color: #000;
    text-align: center;
    white-space: normal;
    text-overflow: ellipsis;
}
.work-in .neirong{
    float: left;
    /*margin-top: 25px;*/
}
.work-in .definite{
    width: 100%;
    padding-left: 4%;
    padding-bottom: 2%;
    display: inline-block;
    min-height: 50px;
    font-size: 16px;
    color: #898989;
}
.work-in .definite img{
    max-width: 100%;
}
.work-in .start{
    line-height: 50px;
    border-bottom: 1px solid #e3e3e3;
}
.definite p{
    display: inline-block;
    width: 100%;
    line-height: 40px;
}
.work-in .voice{
    height: 75px;
    line-height: 75px;
}
.work-in .voice-date{
    width: 80%;
    padding-left: 4%;
    height: 75px;
    line-height: 75px;
    display: inline-block;
    /*float: right;*/
    font-size: 16px;
}
.voice-date i{
    display: inline-block;
    width:35%;
    height: 34px;
    cursor: pointer;
    background: url("../images/voice.png") no-repeat;
    vertical-align:middle;
    margin-right: 2%;
}
.clear{
    clear:both;
}
.work-in .end{
    border-top: 1px solid #e3e3e3;
    height: 70px;
    line-height: 70px;
    margin-bottom: 7px;
}
.work-in .end-date{
    padding-left: 4%;
    display: inline-block;
    font-size: 16px;
    color: #898989;
}
.message .comment{
line-height: 50px;
height: 50px;
color: #898989;
font-size: 14px;
padding-left: 7.5%;
background: url("../images/comment.png") no-repeat left center;
}
.message .comment-p{
margin-top:60px;
}

.message .comment-in{
width: 100%;
border: 1px solid #69c2ec;
padding: 15px 2%;
}
.comment-in input{
width: 98%;
height: 60px;
background: #f7f7f7;
color: #898989;
font-size: 14px;
list-style: none;
border: 1px #dadada solid;
outline: none;
padding-left: 2%;
}
.comment-in .button{
display: block;
text-align: center;
line-height: 28px;
width:14.6% ;
background: #69c2ec;
font-size: 16px;
color: #fff;
border-radius: 4px;
float: right;
margin: 6px 12px;
}
.comment-in ul{
margin-top: 24px;
}
.comment-in .comments{
margin-top: 25px;
}
.comment-in .sendMess{
cursor: pointer;
}
.homework_id li a{
cursor: pointer;
}
.comment-in p{
line-height: 30px;
font-size: 14px;
color: #898989;
}
.comment-in .name{
color: #000;
}
.comment-in .check-more{
color: #69c2ec;
text-align: center;
cursor: pointer;
}
.content-area .else{
width:28.3%;
min-width:320px;
position: absolute;
left: 69%;
}
.else .class,.else .courseware{
width: 100%;
border: 1px solid #e3e3e3;
background: #fff;
}
.else .courseware{
margin-top: 28px;
}
.class .my-class,.courseware .my-class{
padding-left: 3%;
padding-right: 3%;
height: 40px;
line-height: 40px;
font-size: 16px;
color: #69c2ec;
border-bottom: 1px solid #e3e3e3;
margin:0;
}
.my-class span{
display: inline-block;
width: 40%;
padding-left: 8%;
background: url("../images/class.png") no-repeat left center;
}
.my-class i{
float: right;
}
.class-txt{
width: 89%;
padding-left: 3%;
margin: 10px auto;
background: #f8f6f6;
height: 100px;
font-size:12px ;
color:#898989 ;
}
.class-txt .schools{
font-size: 14px;
color: #000;
line-height: 40px;
}
.class-txt p{
line-height: 30px;
margin:0;
}
.class-txt .copy{
color: #69c2ec;
margin-left: 5%;
}
.class .texts{
margin-top: 20px;
}
.all-class{
text-align: center;
font-size: 16px;
color: #69c2ec;
line-height: 30px;
}
.courseware .my-class span{
background-image: url("../images/courseware.png");
}
.courseware-in{
height: 100px;
padding-left: 12%;

border-bottom: 1px solid #e3e3e3;
font-size: 14px;
color: #000;
line-height: 30px;
}
.courseware-in .title i{
display: inline-block;
width: 10%;
height: 15px;
background: url("../images/title.png") no-repeat right center;
vertical-align:middle

}
.courseware-in .date{
text-align: right;
color: #898989;
font-size: 12px;
margin-right:3% ;
}
.courseware .button{
background: #69c2ec;
width: 50%;
height: 30px;
line-height: 30px;
text-align: center;
color: #fff;
margin:20px auto;
font-size: 16px;
border-radius: 6px;
}
.all-message{
padding: 0px 2.8%;
}
.message-one{
border: 1px solid #e3e3e3;
font-size: 14px;
color: #898989;
margin-top: 25px;
}
.message-alert{
border-bottom: 1px solid #e3e3e3;
height: 45px;
line-height: 45px;
background:#f7f8fa ;
font-size:14px ;
color:#69c2ec ;
}
.message-alert i{
display: inline-block;
width: 5%;
height: 45px;
background: url("../images/message-alert.png") no-repeat left center;
vertical-align:middle;
}
.message-one p{
padding: 0 3%;
}
.message-one .the{
font-size: 18px;
color: #000;
line-height: 60px;
}
.message-one .date{
line-height: 70px;
}
.message-one .date i{
display: inline-block;
height: 34px;
width: 35%;
background: url(../images/voice.png) no-repeat left center;
vertical-align: middle;
cursor: pointer;
margin-right: 2%;
}
.publish-data{
text-align: right;
line-height: 40px;
}

.black .finish .work-content label{
display: inline-block;
width: 33.33%;
line-height: 40px;
color: #898989;
font-size: 16px;
}
.work-content label input{
margin-left: 5%;
}
.work-content .work-input{
width: 100%;
height: 160px;
outline: none;
margin: 20px 0;
color: #9f9e9e;
font-size: 12px;
}
.work-content .change-date{
color: #fff;
font-size: 14px;
background: #69c2ec;
border-radius: 6px;
display: inline-block;
height: 25px;
line-height: 25px;
text-align: center;
width: 23.5%;
margin-left: 5%;
}
.black .issue-work{
height: 570px;
top:10%;
display: none;
}
.issue-work .affix{
line-height: 50px;
}
.black .issue-message{
display: block;
height: 430px;
top:25%;
}
.issue-message .work-content .subject{
position: relative;
}
.issue-message .work-content .subject select{
margin-left: 2%;
}
.issue-message .work-content .all-schools{
height: 228px;
border: 1px solid #e3e3e3;
width: 77%;
padding: 0 3%;
margin-top: -1px;
left: 16%;
background: #fff;
position: absolute;
}
.issue-message .work-content .all-schools .school p{
font-size: 16px;
margin-top: 5px;
}
.issue-message .work-content .all-schools .school label{
font-size: 16px;
color: #acaaaa;
width: 50%;
text-align: center;
}
.issue-message .work-content .all-schools .school .current{
color: #69c2ec;
}
.issue-message .cancel span{
margin-top: 15px;
}

/*布置作业弹出框*/
.school_class{
   padding: 15px 11px;
   position: relative;
}
.school_class div.class_title{
    /*display: inline-block;*/
    max-width: 100%;
    margin-bottom: 12px;
    font-weight: bold;
}
.school_class label.checkbox-inline{
    width: 32%;
    margin-bottom: 10px;
}
.school_class label.checkbox-inline input{
    margin-left: auto;
    -webkit-appearance: none;
    background: #fff url(../images/blue.png);
    /*border: 2px solid blue;*/
    background-position: -24px 0;
    height: 22px;
    vertical-align: middle;
    width: 22px;
    margin: 0;
    background: none\0;
    *background: none;
}
.school_class label.checkbox-inline input:checked{
    background-position: -48px 0;
}
.school_class label.checkbox-inline span{
    font-size: 14px;
    color:#69c2ec;
}
.school_class label:nth-child(2),
.school_class label:nth-child(5){
    padding-left: 0;
    margin-left: 0;
}
/*个人中心*/
#userCentersHeads{
    width: 100%;
    height: 40px;
    background: #d4d4d4;
    line-height: 40px;
}
#userCentersHeads img{
    width: 6%;
    height: 24px;
    margin-left: 4%;
}
#userCentersHeads span{
    display: inline-block;
    width: 72%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #1e79bd;
}
.class, .courseware{
    width: 100%;
    background: #fff;
}
.class .my-class, .courseware .my-class{
    padding-left: 3%;
    padding-right: 3%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #69c2ec;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    margin: 0;
}

